---
title: CSS stylesheet
---

a {
  text-decoration: none;
}

.nav-top {
  font-size: 1.10rem;
  float: right;

}

.navbar {
  background: rgba(255,255,255,.7);
  border: 0;
  border-radius: 0;
}

.jumbotron {
  background: #c0392b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background-image: url({{ site.baseurl }}/design/Jumbotron.png);
  background-size: cover;
  background-position: top center;*/
  margin-top: -110px;
  height: 300px;
  vertical-align: middle;
}

.jumbotron > h1{
  margin-top: 140px;
  font-size: 1.8em;
  vertical-align: middle;


}

.AGheader{
  background-color: white;
  padding: 0px 10px 5px 10px;
}

@media (min-width: 768px) {
  .jumbotron{
    height: 400px;
  }

  .jumbotron > h1{
    margin-top: 150px;
    font-size: 3em;
  }
  .AGheader{
    padding: 0px 15px 7px 15px;
  }
}

@media (min-width: 992px) {
  .jumbotron{
    height: 450px;
  }
  .jumbotron > h1{
    margin-top: 160px;
    font-size: 4em;
  }
  .AGheader{
    padding: 0px 15px 7px 15px;
  }
}


@media (min-width: 1200px) {
  .jumbotron{
    height: 550px;
  }
  .jumbotron > h1{
    margin-top: 200px;
    font-size: 5em;
  }
  .AGheader{
    padding: 0px 20px 10px 20px;
  }
}

/*.project-container{
  padding: 30px 0 0 0;

}



.projects-ul {
  margin: 0;
  padding: 0 0 70px 0;

}

.project-row {
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .project-row {
    padding-bottom: 40px;
  }
}

.thumbnail-pic {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;

}
.project-text:hover {
  text-decoration: none;

}*/
.projects-header {
  padding-bottom: 30px;

}
.card {
         display: inline-block;
         width: 100%;
       }

#project-item {
  padding: 0px;
  margin: 0px;
}


@media (min-width: 576px) {
    .card-columns {
      -webkit-column-count:1 !important;
      -moz-column-count:1 !important;
      column-count:1 !important;
    }
}
@media (min-width: 768px) {
    .card-columns {
      -webkit-column-count:2 !important;
      -moz-column-count:2 !important;
      column-count:2 !important;
    }
}
@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count:2 !important;
        -moz-column-count:2 !important;
        column-count:2 !important;
    }
}
@media (min-width: 1200px) {
    .card-columns {
      -webkit-column-count:3 !important;
      -moz-column-count:3 !important;
      column-count:3 !important;
    }
}



.footer {
  background-color: #eaeaea;
  /*border-style: solid;*/
  /*border-width: 1px 0px 0px 0px;*/
  /*border-color: black;*/
  height: 150px;
  width: 100%;
}

.footer-container{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
  padding-left: 0px
}

.footer-container > p {
  margin-bottom: 0;
  padding: 40px 0 0 30px;
  justify-content: center;
}

.nav-bottom > li {
  padding-right: 50px;
}
