<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Andrew Goodridge</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/common.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
  </head>
  <body>

<header>
  <h1>Andrew Goodridge</h1>
{% include nav.html navclass='nav-top'%}
</header>

{{content}}

  </body>
  <footer>
{% include nav.html navclass='nav-bottom'%}
<p>Code made with love by me :) - 2017</p>
<script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.min.js">
</script>
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery-3.2.1.min.js">

</script>
  </footer>
</html>
